@{
    ViewBag.Title = "省市区》明细页面";
    Layout = "~/Views/Shared/_LayoutForm.cshtml";
}
<script type="text/javascript">
    $(function () {
        InitControl();
    })
    //得到一个对象实体
    function InitControl() {
        if (!!GetQuery('KeyValue')) {
            AjaxJson("/CommonModule/Base_ProvinceCity/SetForm", { KeyValue: GetQuery('KeyValue') }, function (data) {
                SetWebControls(data);
            });
        }
    }
</script>
<form id="form1" style="margin: 1px">
    <table class="form">
        <tr>
            <th class='formTitle'>公司：</th>
            <td class='formValue'>
                <label id="Category" />
            </td>
            <th class='formTitle'>编码：</th>
            <td class='formValue'>
                <label id="Code" />
            </td>
        </tr>
        <tr>
            <th class='formTitle'>名称：</th>
            <td class='formValue'>
                <label id="FullName" />
            </td>
            <th class='formTitle'>有效：</th>
            <td class='formValue'>
                <label id="Enabled" />
            </td>
        </tr>
        <tr>
            <th class='formTitle'>排序码：</th>
            <td class='formValue'>
                <label id="SortCode" />
            </td>
            <th class='formTitle'>删除标记：</th>
            <td class='formValue'>
                <label id="DeleteMark" />
            </td>
        </tr>
        <tr>
            <th class='formTitle'>创建时间：</th>
            <td class='formValue'>
                <label id="CreateDate" />
            </td>
            <th class='formTitle'>创建用户主键：</th>
            <td class='formValue'>
                <label id="CreateUserId" />
            </td>
        </tr>
        <tr>
            <th class='formTitle'>创建用户：</th>
            <td class='formValue'>
                <label id="CreateUserName" />
            </td>
            <th class='formTitle'>修改时间：</th>
            <td class='formValue'>
                <label id="ModifyDate" />
            </td>
        </tr>
        <tr>
            <th class='formTitle'>修改用户主键：</th>
            <td class='formValue'>
                <label id="ModifyUserId" />
            </td>
            <th class='formTitle'>修改用户：</th>
            <td class='formValue'>
                <label id="ModifyUserName" />
            </td>
        </tr>
        <tr>
        </tr>
    </table>
</form>
