@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>技术支持</title>
    <link href="~/Content/Styles/learunui-framework.css" rel="stylesheet" />
</head>
<body style="background: url(~/Content/Images/Support.jpg)  no-repeat right 0px; margin-top: 1px;">
    <div style="margin: 10px;">
         
    </div>
</body>
</html>
