@{
    ViewBag.Title = "手机短信表》表单页面";
    Layout = "~/Views/Shared/_LayoutForm.cshtml";
}
<script type="text/javascript">
    var KeyValue = GetQuery('KeyValue');//主键
    $(function () {
        InitControl();
    })
    //得到一个对象实体
    function InitControl() {
        if (!!GetQuery('KeyValue')) {
            AjaxJson("/CommonModule/Base_PhoneNote/SetForm", { KeyValue: KeyValue }, function (data) {
                SetWebControls(data);
            });
        }
    }
    //保存事件
    function AcceptClick() {
        if (!CheckDataValid('#form1')) {
            return false;
        }
        var postData = GetWebControls("#form1");
        AjaxJson("/CommonModule/Base_PhoneNote/SubmitForm?KeyValue=" + KeyValue, postData, function (data) {
            tipDialog(data.Message, 3, data.Code);
            top.frames[tabiframeId()].windowload();
            closeDialog();
        });
    }
</script>
<form id="form1" style="margin: 1px">
    <div id="message" style="display: none"></div>
    <table class="form">
        <tr>
            <th class='formTitle'>手机短信主键：</th>
            <td class='formValue'>
                <input id="PhoneNoteId" maxlength=50 type="text" class="txt"   />
            </td>
        </tr>
        <tr>
            <th class='formTitle'>手机号码：</th>
            <td class='formValue'>
                <input id="PhonenNumber" maxlength=50 type="text" class="txt"   />
            </td>
        </tr>
        <tr>
            <th class='formTitle'>发送内容：</th>
            <td class='formValue'>
                <input id="SendContent" maxlength=200 type="text" class="txt"   />
            </td>
        </tr>
        <tr>
            <th class='formTitle'>发送时间：</th>
            <td class='formValue'>
                <input id="SendTime" maxlength=23 type="text" class="txt"   />
            </td>
        </tr>
        <tr>
            <th class='formTitle'>发送状态：</th>
            <td class='formValue'>
                <input id="SendStatus" maxlength=50 type="text" class="txt"   />
            </td>
        </tr>
        <tr>
            <th class='formTitle'>设备名称：</th>
            <td class='formValue'>
                <input id="DeviceName" maxlength=200 type="text" class="txt"   />
            </td>
        </tr>
        <tr>
            <th class='formTitle'>Remark：</th>
            <td class='formValue'>
                <input id="Remark" maxlength=200 type="text" class="txt"   />
            </td>
        </tr>
        <tr>
            <th class='formTitle'>有效：</th>
            <td class='formValue'>
                <input id="Enabled" maxlength=10 type="text" class="txt"   />
            </td>
        </tr>
        <tr>
            <th class='formTitle'>排序码：</th>
            <td class='formValue'>
                <input id="SortCode" maxlength=10 type="text" class="txt"   />
            </td>
        </tr>
        <tr>
            <th class='formTitle'>删除标记：</th>
            <td class='formValue'>
                <input id="DeleteMark" maxlength=10 type="text" class="txt"   />
            </td>
        </tr>
        <tr>
            <th class='formTitle'>创建时间：</th>
            <td class='formValue'>
                <input id="CreateDate" maxlength=23 type="text" class="txt"   />
            </td>
        </tr>
        <tr>
            <th class='formTitle'>创建用户主键：</th>
            <td class='formValue'>
                <input id="CreateUserId" maxlength=50 type="text" class="txt"   />
            </td>
        </tr>
        <tr>
            <th class='formTitle'>创建用户：</th>
            <td class='formValue'>
                <input id="CreateUserName" maxlength=50 type="text" class="txt"   />
            </td>
        </tr>
        <tr>
        </tr>
    </table>
</form>
